<div id="app" class="indexTab content" v-cloak="">
	<div class="hideOnNonNative" >
		<div class="mainBlock" >
			<div class="actions" >
				<img src="./assets/img/logo_white.png" alt="Mangcoin"/>
			</div>
			<div class="callToAction tc" >
				<a href="#" @click="loadWallet()" v-if="hasLocalWallet" class="btn primary invert">{{ $t("homepage.actions.loadWallet") }}</a>
				<a href="#!createWallet" class="btn primary" v-if="!hasLocalWallet" >{{ $t("homepage.actions.createWallet") }}</a>
				<a href="#!import" class="btn mini" v-if="!hasLocalWallet" >{{ $t("homepage.actions.importWallet") }}</a>
			</div>
		</div>
	</div>
	<div class="hideOnNative" >
		<div class="mainBlock" >
			<div class="actions" >
				<img src="./assets/img/logo_white.png" alt="Mangcoin"/>
				<div class="right">
					<a href="#" @click="loadWallet()" v-if="hasLocalWallet" class="btn mini basic">{{ $t("homepage.actions.loadWallet") }}</a>
					<a href="#!import" class="btn mini">{{ $t("homepage.actions.importWallet") }}</a>
					<a href="#!createWallet" class="btn mini">{{ $t("homepage.actions.create") }}</a>
				</div>
			</div>
			<div class="callToAction tc" >
				<a href="#" @click="loadWallet()" v-if="hasLocalWallet" class="btn basic">{{ $t("homepage.actions.loadWallet") }}</a>
				<a href="#!createWallet" class="btn primary invert" >{{ $t("homepage.actions.createWallet") }}</a>
			</div>
		</div>

		<div class="notesBlock" >
			<div class="container" >
				<div class="notes" >
					<div class="block">
						<i class="fa fa-lock" aria-hidden="true"></i><br/>
						<h3>{{ $t("homepage.notes.secure.title") }}</h3>
						<h4>{{ $t("homepage.notes.secure.description") }}</h4>
					</div>
				</div>
				<div class="notes" >
					<div class="block">
						<i class="fa fa-paper-plane" aria-hidden="true"></i><br/>
						<h3>{{ $t("homepage.notes.fast.title") }}</h3>
						<h4>{{ $t("homepage.notes.fast.description") }}</h4>
					</div>
				</div>
				<div class="notes" >
					<div class="block">
						<i class="fa fa-arrows-v" aria-hidden="true"></i><br/>
						<h3>{{ $t("homepage.notes.technology.title") }}</h3>
						<h4>{{ $t("homepage.notes.technology.description") }}</h4>
					</div>
				</div>
				<div class="notes" >
					<div class="block">
						<i class="fa fa-folder-open-o" aria-hidden="true"></i><br/>
						<h3>{{ $t("homepage.notes.openSource.title") }}</h3>
						<a href="https://github.com/mangocoinproject/mangocoin-webwallet-js" target="_blank" rel="nofollow"><h4>{{ $t("homepage.notes.openSource.description") }}</h4></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
